.btn {
    &-text {
        color: $text-color !important;
        text-decoration: none !important;

        &:hover {
            color: $brand-primary !important;
        }
    }
}

.text {
    &-left-force {
        text-align: left !important;
    }

    &-right-force {
        text-align: right !important;
    }
}

.no-padding {
    padding: 0 !important;
}
